
  .ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f15a42;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nav {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fac92C;
}