{% extends "main/header.html" %}

{% block content %}

<h1>
    Retailer
</h1>

<html>

<head>

</head>

<body>
    <table>
        <tr>
            <th>Fish name</th>
            <th>Fish quantity</th>
        </tr>
        {% for i in inventory %}
        {% if i.Retailer == user.retailer %}
        <tr>
            <td>
                {{ i.Fish.name }}
            </td>
            <td>
                {{ i.qty }}
            </td>
            <td>
            <a class="black btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'main:update' i.id %}">Update</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>

</html>
{% endblock %}

